<div class="wrapper-toolbar"  id="toolbar"></div>

<div class="wrapper-editor">
  <div class="wrapper-preview" id="preview"></div>
  <div class="wrapper-workspace" id="workspace"></div>
</div>

{{!-- <div class="loader">Loading Your Dumb Video</div> --}}
