<div class="app-title">Slice</div>
<div class="toolbar-close"><a href="#"><i class="icon icon-close"></i> Close</a></div>
<ul class="toolbar-nav">
  <li class="active"><span class="number-round">1</span> Grab A Slice</li>
  <li><span class="number-round">2</span> Spice It Up</li>
  <li><span class="number-round">3</span> Deliver</li>
</ul>
