{{!--
{{#is step 2}}
  <div class="step">
    <div class="step-header animated fadeInDown">
      <h1 class="step-title">Trim Your Clip</h1>
      <p class="step-description">Use the slider to pick which 10 seconds of the video you would like to loop.</p>
    </div>
    <div class="step-body animated fadeInUp">
      <div class="workspace01">
        <video class="video" autoplay loop>
          <source src="img/sample.mp4" type="video/mp4">
        </video>
        <div class="slider">
          <div class="slider-handle ui-widget-content"></div>
        </div>
        <div class="range-slider"></div>
      </div>

      <button class="btn next-step">Save & Next</button>
    </div>
  </div>
{{/is}}

{{#is step 3}}
  <div class="step">
    <div class="step-header animated fadeInDown">
      <h1 class="step-title">Scale and Crop Your Clip</h1>
      <p class="step-description">Use the slider to pick which 10 seconds of the video you would like to loop.</p>
    </div>
    <div class="step-body animated fadeInUp">
      <div class="workspace01">
        <div class="crop-overlay">
            <div class="crop-bar crop-top-bar"></div>
            <div class="crop-bar crop-bottom-bar"></div>
          </div>
        <iframe width="100%" class="video" src="//www.youtube.com/embed/fUiZ5vz9pUw" frameborder="0" allowfullscreen></iframe>

        <div class="slider">
          <div class="slider-handle"></div>
        </div>
      </div>

      <button class="btn block-centered next-step">Trim Clip</button>
    </div>
  </div>
{{/is}}

 --}}
