/**
 * Steps.
 */
.step-title {
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  color: @step_title_color;
}
.step-description {
  font-size: 1.1em;
  color: @step_desc_color;
  text-align: center;
}

.step-body {
  position: relative;
}

/**
 * Source Selection.
 */
.source-select {
  width: 720px;
  text-align: center;
  margin: 8em inherit;
}

.select-icon {
  display: block;
  font-size: 144px;
  color: @source_select_icon_color;
  margin-bottom: 10px;
}

.select-meta {
  display: block;
  color: @source_select_meta_color;
}

/**
 * Forms.
 */
.form-source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
input {
  border: none;
  padding: 0.75em 1em;
  width: 100%;
  font-size: 24px;
  .box-shadow(none);
}
.input-url {
  margin: 1em 10%;
  border: 1px solid @border_color;
  color: @form_light_text_color;
  width: 80%;
  font-size: 24px;
  overflow: hidden;
  span {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1em 1em;
    background: @form_bg_color;
    border-right: 1px solid @border_color;
  }
  input {
    display: inline-block;
    width: 79%;
    outline: none;
  }
}
.input-description {
  color: #d8d8d8;
  text-align: center;
  color: @form_dark_text_color;
}

/**
 * Video edit workspace.
 */
.video {
  width: 100%;
  background: #f3f3f3;
}

.workspace {
  width: 100%;
  margin: 4em 0;
  position: relative;
}

.slider {
  width: 100%;
  height: 7px;
  margin: 3em 0;
  .border-radius(5px);
  background: @slider_bg_color;
  position: relative;
}
.slider-handle {
  width: 10%;
  height: 15px;
  background: #333;
  position: absolute;
  top: -4px;
  left: 0;
  .border-radius(5px);
}

.crop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.crop-bar {
  height: 115px;
  background: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
}
.crop-top-bar {
  top: 0;
}
.crop-bottom-bar {
  bottom: 0;
}

.btn {
  display: block;
  margin-top: 115px;
  margin-bottom: 100px;
  padding: 1em 2em;
  width: 170px;
  background: #333;
  border: none;
  color: #fff;
  font-size: 18px;
  .border-radius(15px);
}
