/**
 * Site.
 **********************************************************/
.site-title {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 5%;
  color: #fff;
}
.site-tagline {
  font-size: 36px;
  color: #fff;
}
.site-landing {
  position: absolute;
  bottom: 30%;
  max-width: 900px;
}

.site-landing-text {
  color: #c1c1c1;
}

.site-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1px;
  padding-right: 5%;
  a {
    display: block;
    font-weight: 200;
    font-size: 15px;
    padding: 27px 10px;
  }

  li {
    display: inline-block;
  }
}

.site-landing-form {
  margin-top: 50px;

  input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255,255,255,0.3);
    padding-left: 240px;
    color: #fff;
  }
}

.url-input {
  position: relative;
  font-weight: 200;

  span {
    font-size: 24px;
    background: rgba(255,255,255,0.4);
    display: inline-block;
    width: 190px;
    text-align: center;
    padding: 27px 1em 23px;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 0;
    color: #fff;
  }
  input {
    position: relative;
    z-index: 1;
  }
}

.site-link {
  color: #c1c1c1;
}

.action-link {
  color: #fff;
  padding: 25px 25px !important;
  // background: rgba(0,0,0,0.3);
}


/**
 * Wrappers.
 */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapper-default {
  width: 720px;
}

.wrapper-editor {
  height: 100%;
  padding-left: @toolbar_w;
}

.wrapper-preview,
.wrapper-workspace {
  padding: 35px;
  max-width: 1080px;
  margin: 0 auto;
}

/**
 * Filter Select
 */
.filter-select {
}
.filter-option {
  width: 280px;
  height: 280px;
  overflow: hidden;
  float: left;
  margin: 0 10px 10px;

  video {
    width: 200%;
    margin-left: -50%;
    height: auto;
  }
}

/**
 * Filters.
 */
.grayscale {
  -webkit-filter: grayscale();
  filter: grayscale();
}
.blur {
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

/**
 * Video Background.
 */
.video-background-wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.video-background-overlay {
  min-width: 100%;
  min-height: 100%;
  background: @video_overlay_bg;
  position: absolute;
}

.video-background {
  min-height: 100%;
  min-width: 150%;
  margin-left: -50%;
}

/**
 * App.
 **********************************************************/
.app-title {
  .site-title;
  color: #ccc;
}


/**
 * Toolbar
 */
.toolbar {
  width: @toolbar_w;
  background: @toolbar_bg_color;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar-close {
  position: absolute;
  top: 0;
  right: 0;

  a {
    display: inline-block;
    padding: 25px 25px;
    color: #333;
  }
}

.icon {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 10px;
  height: 18px;
  width: 18px;
  .transition(all 0.375s ease-in-out);
}

.icon-close {
  background: url('../img/icon-close.png') no-repeat;
  background-size: 100%;
}

a:hover {
  .icon {
    .transform(rotate(270deg));
  }
}

.toolbar {
  color: @toolbar_color;
}

.toolbar-nav {
  padding: 20% 5%;

  li {
    margin-bottom: 25px;
    opacity: 0.35;
  }
  .active {
    opacity: 1;
  }
}

.number-round {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: @toolbar_color;
  color: @toolbar_bg_color;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8;
  margin-right: 20px;
}

/**
 * Preview.
 */
.video-preview {
  overflow: hidden;
}

.preview-video {
  width: 100%;
}

/**
 * Steps.
 */
.step-title {
  font-size: 2.7em;
  font-weight: 300;
  text-align: center;
  color: @step_title_color;
}
.step-description {
  font-size: 1.1em;
  color: @step_desc_color;
  text-align: center;
}

.step-body {
  position: relative;
}

/**
 * Source Selection.
 */
.source-select {
  width: 720px;
  text-align: center;
  margin: 8em inherit;
}

.select-icon {
  display: block;
  font-size: 144px;
  color: @source_select_icon_color;
  margin-bottom: 10px;
}

.select-meta {
  display: block;
  color: @source_select_meta_color;
}

/**
 * Forms.
 */
.form-source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.input-url {
  margin: 1em 10%;
  border: 1px solid @border_color;
  color: @form_light_text_color;
  width: 80%;
  font-size: 24px;
  overflow: hidden;
  span {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1em 1em;
    background: @form_bg_color;
    border-right: 1px solid @border_color;
  }
  input {
    display: inline-block;
    width: 79%;
    outline: none;
  }
}
.input-description {
  color: #d8d8d8;
  text-align: center;
  color: @form_dark_text_color;
}

/**
 * Video edit workspace.
 */
.video {
  width: 100%;
  background: #f3f3f3;
}

.workspace {
  margin: 0 0;
}

.tool-header {
  font-size: 22px;
  margin-bottom: 12px;
}

.tool-description {
  color: @tool_desc_color;
  font-size: @tool_desc_fontsize;
}

.slider {
  width: 100%;
  height: 7px;
  margin: 3em 0;
  .border-radius(5px);
  background: @slider_bg_color;
  position: relative;
}
.slider-handle {
  width: 10%;
  height: 7px;
  background: @slider_handle_color;
  position: absolute;
  // top: -4px;
  left: 0;
  cursor: ew-resize;
  .border-radius(5px);
}

.handle-point {
  width: 15px;
  height: 15px;
  border: 5px solid @slider_handle_color;;
  position: absolute;
  top: -4px;
  background: #fff;
  .border-radius(50%);
}
.handle-point.start {
  left: -5px;
}
.handle-point.end {
  right: -5px;
}

.loop-frame-wrapper {
  width: 50%;
  float: left;
}
.loop-frame {
  width: 75%;
  float: left;
}
.loop-frame-end {
  float: right;
}
.loop-frame-time {
  font-size: 32px;
  color: @tool_desc_color;
  padding: 20px;
  line-height: 1;
  width: 25%;
  margin-top: 8%;
  float: left;
}

.crop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.crop-bar {
  height: 115px;
  background: rgba(255,255,255,0.9);
  position: absolute;
  width: 100%;
}
.crop-top-bar {
  top: 0;
}
.crop-bottom-bar {
  bottom: 0;
}

.btn {
  display: block;
  margin-top: 115px;
  margin-bottom: 100px;
  padding: 1em 2em;
  background: #333;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
}

.btn-next {
  margin-top: 10em;
  margin-bottom: 5em;
}
